<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
    <RunConfiguration>
        <ResultsDirectory>.\coverage</ResultsDirectory>
    </RunConfiguration>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat code coverage" enabled="false">
                <Configuration>
                    <Format>opencover</Format>
                    <Include>[Suilder.Engines]*</Include>
                    <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute</ExcludeByAttribute>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>